/*
 -- TABLE OF CONTENTS --
 1. BASE
 2. LAYOUT
 3. MODULE
 4. STATE
*/


/*
 *****************************************************************************************************
 ***** BASE
 *****************************************************************************************************
 */

a {
 color: #2947a4;
 text-decoration: none;
}
a:hover {
 border-bottom: 1px dotted #2947a4;
}
.l-pagenav h1 a:hover {
 border-bottom: 0;
}

body {
 background-color: white;
 font-family: verdana, lucida, "lucida sans", "lucida grande", verdana, arial;
 font-size: 11px;
 font-weight: normal;
 text-align: left;
}

h1 {
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 30px;
 font-weight: normal;
 margin: 0 0 8px;
 margin-top: 0 !important;
 padding: 0;
}
h1 a {
 color: #000000;
}

h2 {
 border-bottom: 1px solid #CCCCCC;
 color: #333333;
 font-family: georgia;
 font-size: 18px;
 font-weight: normal;
 margin: 10px 0 4px;
 padding: 0 0 2px;
}
h2 a {
 color: #CCCCCC;
}

h3 {
 color:#454545;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: bold;
 margin: 12px 0 6px;
}
h3 a {
 color: #454545;
}

h1 a:hover, h2 a:hover, h3 a:hover {
 border-bottom: none;
}


h4 {
 color: #666666;
 font-size: 12px;
 font-weight: bold;
 margin: 6px 0 2px;
}

h5 {
 margin: 6px 0 0;
}

p {
 margin: 0 0 8px;
}

p, li {
 line-height: 150%;
 color: #454545;
}

ul {
 list-style: disc;
 margin: 0 0 8px;
 padding: 0 0 0 15px;
}
ol {
 list-style: decimal;
 margin: 0 0 8px;
 padding: 0 0 0 20px;
}
ul li, ol li {
 margin: 0 0 3px 0;
}

strong {
 font-weight: bold;
}

em {
 font-style: italic;
}


table {
 border: 1px solid #DEE2E5;
}
caption {
 color: #333333;
 font-family: "Lucida Grande",verdana,Tahoma,Arial,sans-serif;
 font-size: 12px;
 font-weight: bold;
 margin: 10px 5px 5px;
 text-align: left;
}
th, td {
 border: 1px solid #DEE2E5;
 padding: 4px 5px;
 font-weight: normal;
}
td {
 text-align: right;
}
th {
 text-align: left;
}
thead th {
 background: url("../img/bg_tablehead.jpg") repeat scroll 0 0 transparent;
 text-align: center;
}
tbody th, tbody td {
 padding: 2px 5px;
 border-top: none;
 border-bottom: none;
}
tfoot th, tfoot td {
 border-top: 1px solid #CCCCCC;
 border-bottom: 1px solid #CCCCCC;
}
.check td {
 text-align: center;
}
.text td {
 text-align: left;
}
td.tdtext {
 text-align: left;
}
tbody tr.odd {
 background-color: #F5F5F5;
}
thead a {
 color: #000000;
}
thead a:hover {
 border-bottom: 1px dotted #000000;
}


.l-main img {
 max-width: 100%;
}


button, input, select, textarea, option {
 padding: 2px 4px;
}

option {
 padding: 1px 4px;
}


/*
 *****************************************************************************************************
 ***** LAYOUT
 *****************************************************************************************************
 */

.l-headerwrapper {
 background: #415182;
 clear: both;
 display: block;
 padding: 18px 0 8px 0;
 width: 100%;
 margin-bottom: 12px;
 margin-top: 0;
}


.l-footerwrapper {
 background-color: #EEEEEE;
 border-top: 2px solid #415182;
 clear: both;
 color: #454545;
 display: block;
 margin-top: 20px;
 overflow: hidden;
 padding: 20px 0 5px;
 width: 100%;
}

.l-headercontent, .l-footercontent, .l-maincontent {
 display: block;
 margin: 0 auto;
 max-width: 960px;
}

.l-pagenav {
 background: none repeat scroll 0 0 transparent;
 float: left;
 margin: 14px 30px 20px 0;
 min-height: 220px;
 width: 160px;
}

.l-main {
 float: left;
}


.l-sidebar {
 background: #EEEEEE;
 float: right;
 margin: 10px 0 30px 20px;
 min-height: 220px;
 padding: 10px 10px 20px;
 width: 240px;
 /* Browser specific rules. */
 background: -moz-linear-gradient(center top , #EAEAEA 0%, #FDFDFD 100%) repeat scroll 0 0 transparent;
}


.l-sitemap {
 float: left;
 margin-right: 55px;
 width: 540px;
}

.l-about {
 float: left;
 width: 360px;
}

.l-copyright {
 clear: both;
}


.l-clear {
 clear: both;
}



/*
 *****************************************************************************************************
 ***** MODULE
 *****************************************************************************************************
 */

.headernav {
   color: #BBBBBB;
   text-align: right;
}
.headernav a {
   color: #FFFFFF;
}
.headernav a:hover {
 border-bottom: 1px dotted #FFFFFF;
}

.logoimg {
 float: left;
 margin: 6px 10px 0 5px;
 width: 240px;
}
.headerimg {
 float: right;
 height: 60px;
 margin: 0 15px 0 0;
}
.footerimg {
 float: right;
 height: 60px;
 margin: 0 15px 0 0;
}

.breadcrumbs {
 color: #A7AEBF;
 font-size: 10px;
 margin: 0 0 20px;
 }
.breadcrumbs a {
 color: #666666;
}
.breadcrumbs a:hover {
 border-bottom: 1px dotted #A7AEBF;
}

.titleheader {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 20px;
   color: #FFFFFF;
}


.oppgave {
 background-color: #F6F6F6;
 margin: 10px 0 20px;
 padding: 15px;
}
.oppgave h2 {
 background-color: #AAAAAA;
 border-bottom: none;
 color: #FFFFFF;
 font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
 font-size: 14px;
 font-weight: normal;
 margin: -15px -15px 10px;
 padding: 5px 10px;
}
.oppgave h4 {
 color: #333333;
}
.oppgave p, .oppgave li {
 color: #000000;
}

.plain-list {
 list-style: none;
 padding-left: 0;
}

.link-list {
 list-style: none;
 margin: 0;
 padding-left: 2px;
}
.link-list li {
 border-bottom: 1px dotted #DDDDDD;
 margin: 0;
}
.link-list a {
 color: #454545;
 display: block;
 padding: 4px 0 4px 1px;
}
.link-list a:hover {
 background-color: #EFEFEF;
 border-bottom: 0;
 color: #BB5555;
}
.link-list ul {
 list-style: none;
 margin: 0;
 padding-left: 12px;
}
.link-list li ul li {
 border-bottom: 0;
 font-size: 10px;
}

.current {
 background-color: #EFEFEF;
}


.sitemap, .sitemap ul {
 list-style: none;
 padding-left: 0;
 margin-top: 2px;
}
.sitemap li {
 display: block;
 float: left;
 font-weight: bold;
 padding: 0 3px 0 0;
 width: 176px;
}
.sitemap li ul li {
 float: none;
 font-weight: normal;
 padding: 0;
}
.sitemap a {
 color: #454545;
 text-decoration: none;
}
.sitemap a:hover {
 border-bottom: 1px dotted #454545;
}

.quote {
 color: #777777;
 font-style: italic;
}

.about-links {
 float: left;
 list-style: none;
 padding-left: 0;
 margin-top: 12px;
}

.footernote {
 color: #777777;
}

.tablenote {
 color: #777777;
}

.prosentgraf {
 width: 510px;
 padding: 3px 4px;
 text-align: left;
}

.prosentgraf div {
 height: 14px;
 float: left;
 margin-right: 3px;
}

.chart_img {
 border: 1px solid #CCCCCC;
 padding: 5px;
}

.header-tabs {
 border-bottom: 1px solid #DDDDDD;
 margin: 0 0 10px;
 min-height: 33px;
 padding-left: 3px;
}
.header-tabs ul {
 list-style-type: none;
 margin-bottom: 0;
 margin-top: 5px;
 padding: 9px 0 0;
}
.header-tabs ul li {
 border-left: 1px solid #DDDDDD;
 border-right: 1px solid #DDDDDD;
 border-top: 1px solid #DDDDDD;
 float: left;
 margin: 0 5px 0 0;
 padding: 0;
}
.header-tabs ul .ui-state-active, .header-tabs ul li a:hover {
 background: url("../img/bg_tablehead.jpg") repeat scroll 0 0 transparent;
}
.header-tabs ul li a {
 border: medium none;
 display: block;
 padding: 3px 5px;
}

.nowrap {
 white-space: nowrap;
}

.sidebar-img {
 margin: -1px -10px 0 -10px; 
 width: 260px;
}


.boxheader {
 color: #415182;
 border-bottom: 1px dotted #415182;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size: 16px;
 font-weight: bold;
 margin: 14px 0 6px;
 padding: 0 0 2px;
}
.boxheader a {
 color: #415182;
}

.boxheader-2 {
 border-bottom: 1px dotted #666666;
 color: #666666;
 font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
 font-size: 15px;
 font-weight: normal;
 margin: 10px 0 8px;
 padding-bottom: 2px;
}

.boxheader-3 {
 border: 0;
 color: #000000;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size: 18px;
 font-weight: bold;
 margin: 10px 0 8px 0;
 padding: 0;
}
.boxheader-3 a {
 color: #000000;
}


.featured-box {
 background-color: #EEEEEE;
 margin: 15px 0;
 padding: 15px;
}

.featured-box-title {
 background-color: #AAAAAA;
 border-bottom: none;
 color: #FFFFFF;
 display: block;
 font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
 font-size: 15px;
 font-weight: normal;
 margin: -15px -15px 10px;
 padding: 5px 10px;
}

.frontpage-box {
 background-color: #EEEEEE;
 float: left;
 margin: 20px 20px 0 0;
 min-height: 150px;
 padding: 12px 20px;
 width: 266px;
 background: -moz-linear-gradient(center top , #EAEAEA 0%, #FDFDFD 100%) repeat scroll 0 0 transparent;
}
.frontpage-box .boxheader-img {
 margin: -12px -20px 10px;
 max-width: inherit;
 width: 306px;
}

.frontpage-box-large {
 width: 100%;
 height: 320px;
 background-image: url("http://www.samfunnsveven.no/common/img/forside_oppslag_960.jpg");
}
.frontpage-box-text {
 width: 210px;
 float: left;
 background-color: #FFFFFF;
 opacity: .9;
 padding: 20px 20px 9px;
 margin: 70px 0 0 60px;
}	

.button a {
 background: #cc7700;
 background: -moz-linear-gradient(center top , #FF9900 0%, #aa5500 100%) repeat scroll 0 0 transparent;
 border-bottom: 0 none;
 box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
 color: white;
 font-family: Georgia,"Times New Roman",Times,serif;
 font-size: 18px;
 font-weight: bold;
 margin: 20px 5px 12px 0;
 padding: 12px;
 text-align: center;
 width: 180px;
 float: left;
}
.button a:hover {
 box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.9);
}

.top-btm-margin-s {
 margin: 2px 0;
}
.top-btm-margin-m {
 margin: 8px 0;
}

.disp-block {
 display: block;
}

.column-two {
 float: left;
 width: 47%;
 margin-right: 5%;
}

.error {
 color: red;
 font-weight: bold;
}


/* *********** begin: hidden ************ */
.hidden{
  display: none !important;
}
.hidearea{
  display: none;
}
.showarea{
  display: block;
  background-color: #EEEEEE;
  margin: 0 0 20px 0;
  border: solid 1px #415182;
  padding: 5px;
}
a.hideanchor{
 float: right;
 text-decoration: none;
 border: none;
}
.hideanchor img{
  border: none;
}
a.hidelink{
  display: block;
  margin-bottom: 0px;
  text-decoration: none;
}
a.hidelink:hover {
 text-decoration: none;
 border: none;
}
/* *********** end: hidden ************ */






/*
 *****************************************************************************************************
 ***** STATE
 *****************************************************************************************************
 */

.s-clear {
 clear: both;
}

.l-main.s-full {
 float: none;
 width: inherit;
}
.l-main.s-no-sidebar {
 width: 760px;
}
.l-main.s-no-pagenav {
 width: 670px;
}

.l-main.s-narrow {
 width: 500px;
}

.s-onlymob {
 display: none;
}

.s-last {
 margin-right: 0;
}

.s-top {
 margin-top: 0;
}

.l-sidebar.s-no-pagenav {
 width: 320px;
 padding: 12px 15px 20px;
}

