<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Mort Bay Consulting//DTD Configure//EN" "http://jetty.mortbay.org/configure.dtd">
<Configure class="org.mortbay.jetty.webapp.WebAppContext">
   <New id="qddt" class="org.mortbay.jetty.plus.naming.Resource">
      <Arg>jdbc/qddt</Arg>
      <Arg>
         <New class="org.apache.commons.dbcp.BasicDataSource">
            <Set name="driverClassName">net.sourceforge.jtds.jdbc.Driver</Set>
            <Set name="url">jdbc:jtds:sqlserver://server/qddt</Set>
            <Set name="username">user</Set>
            <Set name="password">pass</Set>
         </New>
      </Arg>
   </New>
</Configure>
